[metadata]
id = "toml-pipeline"
name = "TOML Pipeline"
description = "A pipeline loaded from TOML"

[[sources]]
source_type = "file"
path = "/opt/mystorage/github/rsde/rsync/lib/rule/README.md"
watch = true

[[transforms]]
transform_type = "json"
add_timestamp = true

[[sinks]]
sink_type = "file"
path = "/tmp/toml_output.txt"
force = true
env = { platform = { kernel = "Linux", arch = "X86_64", distribution = "Unknown" } }

[api]
listen_address = "0.0.0.0:8080"
log_level = "debug"
metrics_enabled = true

[global]
debug = true

[log]
path = "./log/"